[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cloudml"]
	path = cloudml
	url = https://github.com/cran/cloudml
[submodule "madgrad"]
	path = madgrad
	url = https://github.com/cran/madgrad
[submodule "ptwikiwords"]
	path = ptwikiwords
	url = https://github.com/dfalbel/ptwikiwords
[submodule "rslp"]
	path = rslp
	url = https://github.com/dfalbel/rslp
[submodule "tfdeploy"]
	path = tfdeploy
	url = https://github.com/cran/tfdeploy
